/* some colors you may find useful:
  #115ff4
  #060ce9
  #28a200
  #8d2ab5
  #74119c
*/
:root{
  /* font-family: Georgia, 'Times New Roman', Times, serif; */
  font-size: 10px;
}

h1{
  font-size: 2rem;
  color: #060ce9;
  
}
td{
  font-size: 1.2rem;
}
.divHeaders{
  border: solid 2px #060ce9;
  font-size: 1.5rem;
  height: 50px;
  
}
.divQuestions{
  border: solid 2px #ffffff;
  font-size: 2.5rem;
  color: #ffffff;
  height: 100px;
  cursor: pointer;
}
#header{
  font-size: 5rem;
  color: #060ce9;
  font-weight: bold;
}